// Colors
$color-light: #ffffff;
$color-dark: #000000;

$rock-color-primary: #DB4641;
$pop-color-primary: #07FFEE;
$folk-color-primary: #D75E27;
$RandB-color-primary: #266445;
$country-color-primary: #49758B;
$jazz-color-primary: #FDBD28;

// Font families
$rock-primary-font-family: 'Rock Salt', cursive;
$rock-secondary-font-family: 'Architects Daughter', cursive;

$pop-primary-font-family: 'Cookie', cursive;
$pop-secondary-font-family: 'Fondamento', cursive;

$folk-primary-font-family: 'Special Elite', cursive;
$folk-secondary-font-family: 'Port Lligat Sans', sans-serif;

$RandB-primary-font-family: 'Akronim', cursive;
$RandB-secondary-font-family: 'Amita', cursive;

$country-primary-font-family: 'Fredericka the Great', cursive;
$country-secondary-font-family: 'IM Fell English', serif;

$jazz-primary-font-family: 'Bilbo Swash Caps', cursive;
$jazz-secondary-font-family: 'Annie Use Your Telescope', cursive;

// Media queries width
$laptop-width: 1440px;

// Indents
$standart-indent: 15px;

// Transitions
$standart-transition-duration: 0.275s;