// Colors
$color-light: #ffffff;
$color-dark: #000000;

$rock-color-primary: #DB4641;

// Font families
$rock-primary-font-family: 'Rock Salt', cursive;
$rock-secondary-font-family: 'Architects Daughter', cursive;

// Media queries width
$laptop-width: 1440px;

// Indents
$standart-indent: 15px;

// Transitions
$standart-transition-duration: 0.275s;