$themes: (
  rock: (
    appBackgroundImage: url('../../assets/images/backgrounds/rock-background.png'),
    fontFamilyPrimary: $rock-primary-font-family,
    fontFamilySecondary: $rock-secondary-font-family,
    titleLineHeight: 144%,
    defaultAppTitleFontSize: 6.5rem,
    defaultScoreFontSize: 3.5rem,
    defaultGenreFontSize: 5.4rem,
    defaultActiveSongFontSize: 4rem,
    defaultAudioPlayerFontSize: 2rem,
    defaultChoosedSongAudioPlayerFontSize: 1.5rem,
    defaultSongFromCurrentActiveGenreFontSize: 2.5rem,
    defaultNoChoosedSongTitleFontSize: 2.5rem,
    defaultChoosedSongTitleFontSize: 2.5rem,
    defaultChoosedSongDescriptionFontSize: 2rem,
    defaultNextCategoryButtonFontSize: 4rem,
    colorPrimary: $rock-color-primary,
  ),
  pop: (
    appBackgroundImage: url('../../assets/images/backgrounds/pop-background.png'),
    fontFamilyPrimary: $pop-primary-font-family,
    fontFamilySecondary: $pop-secondary-font-family,
    titleLineHeight: 111%,
    defaultAppTitleFontSize: 11.5rem,
    defaultScoreFontSize: 4rem,
    defaultGenreFontSize: 5.4rem,
    defaultActiveSongFontSize: 4rem,
    defaultAudioPlayerFontSize: 2rem,
    defaultChoosedSongAudioPlayerFontSize: 1.5rem,
    defaultSongFromCurrentActiveGenreFontSize: 2.5rem,
    defaultNoChoosedSongTitleFontSize: 2.5rem,
    defaultChoosedSongTitleFontSize: 3rem,
    defaultChoosedSongDescriptionFontSize: 2rem,
    defaultNextCategoryButtonFontSize: 4rem,
    colorPrimary: $pop-color-primary,
  ),
  folk: (
    appBackgroundImage: url('../../assets/images/backgrounds/folk-background.jpg'),
    fontFamilyPrimary: $folk-primary-font-family,
    fontFamilySecondary: $folk-secondary-font-family,
    titleLineHeight: 100%,
    defaultAppTitleFontSize: 7.5rem,
    defaultScoreFontSize: 4rem,
    defaultGenreFontSize: 5.4rem,
    defaultActiveSongFontSize: 4rem,
    defaultAudioPlayerFontSize: 2rem,
    defaultChoosedSongAudioPlayerFontSize: 1.5rem,
    defaultSongFromCurrentActiveGenreFontSize: 2.5rem,
    defaultNoChoosedSongTitleFontSize: 2.5rem,
    defaultChoosedSongTitleFontSize: 3rem,
    defaultChoosedSongDescriptionFontSize: 2rem,
    defaultNextCategoryButtonFontSize: 5rem,
    colorPrimary: $folk-color-primary,
  ),
 randb: (
    appBackgroundImage: url('../../assets/images/backgrounds/R&B-background.png'),
    fontFamilyPrimary: $RandB-primary-font-family,
    fontFamilySecondary: $RandB-secondary-font-family,
    titleLineHeight: 117%,
    defaultAppTitleFontSize: 9rem,
    defaultScoreFontSize: 3.5rem,
    defaultGenreFontSize: 5rem,
    defaultActiveSongFontSize: 4rem,
    defaultAudioPlayerFontSize: 2rem,
    defaultChoosedSongAudioPlayerFontSize: 1.5rem,
    defaultSongFromCurrentActiveGenreFontSize: 2.5rem,
    defaultNoChoosedSongTitleFontSize: 2.5rem,
    defaultChoosedSongTitleFontSize: 2.7rem,
    defaultChoosedSongDescriptionFontSize: 2rem,
    defaultNextCategoryButtonFontSize: 3rem,
    colorPrimary: $RandB-color-primary,
  ),
  country: (
    appBackgroundImage: url('../../assets/images/backgrounds/country-background.png'),
    fontFamilyPrimary: $country-primary-font-family,
    fontFamilySecondary: $country-secondary-font-family,
    titleLineHeight: 117%,
    defaultAppTitleFontSize: 9rem,
    defaultScoreFontSize: 4rem,
    defaultGenreFontSize: 5rem,
    defaultActiveSongFontSize: 4rem,
    defaultAudioPlayerFontSize: 2.5rem,
    defaultChoosedSongAudioPlayerFontSize: 2rem,
    defaultSongFromCurrentActiveGenreFontSize: 2.5rem,
    defaultNoChoosedSongTitleFontSize: 2.5rem,
    defaultChoosedSongTitleFontSize: 2.7rem,
    defaultChoosedSongDescriptionFontSize: 2rem,
    defaultNextCategoryButtonFontSize: 4rem,
    colorPrimary: $country-color-primary,
  ),
  jazz: (
    appBackgroundImage: url('../../assets/images/backgrounds/jazz-background.jpg'),
    fontFamilyPrimary: $jazz-primary-font-family,
    fontFamilySecondary: $jazz-secondary-font-family,
    titleLineHeight: 117%,
    defaultAppTitleFontSize: 9rem,
    defaultScoreFontSize: 4rem,
    defaultGenreFontSize: 5rem,
    defaultActiveSongFontSize: 4rem,
    defaultAudioPlayerFontSize: 2.5rem,
    defaultChoosedSongAudioPlayerFontSize: 2rem,
    defaultSongFromCurrentActiveGenreFontSize: 2.5rem,
    defaultNoChoosedSongTitleFontSize: 2.5rem,
    defaultChoosedSongTitleFontSize: 2.7rem,
    defaultChoosedSongDescriptionFontSize: 2.4rem,
    defaultNextCategoryButtonFontSize: 4rem,
    colorPrimary: $jazz-color-primary,
  )
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} &,
    &.theme-#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}