$themes: (
  rock: (
    appBackgroundImage: url('../../assets/images/backgrounds/rock-background.png'),
    fontFamilyPrimary: $rock-primary-font-family,
    titleLineHeight: 144%,
    fontFamilySecondary: $rock-secondary-font-family,
    defaultTitleFontSize: 6.5rem,
    defaultScoreFontSize: 3.5rem,
    defaultGenreFontSize: 5.4rem,
    defaultActiveSongFontSize: 6.4rem,
    defaultAudioPlayerFontSize: 2rem,
    colorPrimary: $rock-color-primary,
  )
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} &,
    &.theme-#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}