.current-choosed-song-container {
  padding: $standart-indent;
  background-color: rgba($color: $color-light, $alpha: 0.5);
  @include flex(
    $direction: column,
    $justify-content: flex-start,
    $align-items: flex-start,
  )
}

.current-choosed-song-container__no-choosed-song-title {
  color: $color-light;
  @include themify() {
    @include font(
      $font-family: themed('fontFamilySecondary'),
      $font-size: themed('defaultNoChoosedSongTitleFontSize'),
    )
  }
}

.current-choosed-song-info-container {
  width: 100%;
  margin-bottom: $standart-indent;
  @include flex(
    $direction: row,
    $justify-content: flex-start,
    $align-items: flex-start,
  );
  @include media-mobile {
    @include flex(
      $direction: column,
      $justify-content: flex-start,
      $align-items: center,
    )
  }
}

.current-choosed-song-info-container__cover {
  width: 130px;
  height: 130px;
  margin-right: $standart-indent;
  object-fit: cover;
  object-position: center;
  @include media-small-laptop {
    width: 115px;
    height: 115px;
  }
  @include media-mobile {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-bottom: $standart-indent;
  }
}

.current-choosed-song-main-info-container {
  flex-basis: 100%;
  @include media-mobile {
    flex-basis: auto;
    width: 100%;
  }
}

.current-choosed-song-main-info-container__title {
  color: $color-light;
  border-bottom: 1px solid $color-light;
  @include themify() {
    @include font (
      $font-size: themed('defaultChoosedSongTitleFontSize'),
      $font-family: themed('fontFamilySecondary'),
    )
  }
  @include media-mobile {
    @include themify() {
      font-size: themed('mobileChoosedSongTitleFontSize');
    }
  }
}

.current-choosed-song-main-info-container__year {
  color: $color-light;
  border-bottom: 1px solid $color-light;
  margin-bottom: $standart-indent;
  @include themify() {
    @include font(
      $font-size: themed('defaultChoosedSongYearFontSize'),
      $font-family: themed('fontFamilySecondary'),
    );
  }
  @include media-mobile {
    @include themify() {
      font-size: themed('mobileChoosedSongYearFontSize');
    }
  }
}

.current-choosed-song-info-container__description {
  color: $color-dark;
  @include themify() {
    @include font (
      $font-size: themed('defaultChoosedSongDescriptionFontSize'),
      $font-family: themed('fontFamilySecondary'),
    )
  }
}

.songhung-app-wrapper .songhunt-audio-player.choosed-song-audioplayer {
  .rhap_main-controls-button {
    width: 52.36328125px;
    height: 52.36328125px;
    @include media-small-laptop {
      width: 44.8828125px;
      height: 44.8828125px;
    }
    @include media-mobile {
      width: 40.882813px;
      height: 40.882813px;
    }
  }
  .rhap_additional-controls {
    @include themify() {
      font-size: themed('defaultChoosedSongAudioPlayerFontSize');
    }
  }
  .rhap_progress-bar,
  .rhap_volume-bar-area,
  .rhap_volume-bar {
    height: 2px;
  }
  .rhap_progress-indicator {
    width: 12px;
    height: 12px;
    @include media-mobile {
      width: 11px;
      height: 11px;
    }
  }
  .rhap_volume-indicator {
    width: 10px;
    height: 10px;
    @include media-small-laptop {
      width: 9px;
      height: 9px;
    }
    @include media-tablet {
      width: 8px;
      height: 8px;
    }
  }
  .rhap_volume-button {
    width: 23px;
    height: 23px;
    @include media-mobile {
      width: 21px;
      height: 21px;
    }
  }
}