.genres-list {
  margin-bottom: #{$standart-indent * 2};
  transition: background-color #{$standart-transition-duration * 2} #{$standart-transition-duration * 4} ease;
  @include flex(
    $direction: row,
    $justify-content: space-evenly,
    $align-items: center,
    $flex-wrap: wrap,
  );
  @include themify() {
    background-color: rgba($color: themed('colorPrimary'), $alpha: 0.5);
  }
}

.genres-list__genre-title {
  padding: #{$standart-indent / 3} #{$standart-indent};
  text-align: center;
  color: rgba($color: $color-light, $alpha: 0.5);
  @include themify() {
    @include font(
      $font-family: themed('fontFamilySecondary'), $font-size: themed('defaultGenreFontSize'),
    )
  }
  @include media-small-laptop {
    @include themify() {
      font-size: themed('smallLaptopGenreFontSize');
    }
  }
  @include media-tablet {
    @include themify() {
      font-size: themed('tabletGenreFontSize');
    }
  }
  &_active {
    color: $color-light;
  }
}