.songs-from-current-active-genre-container {
  height: 330px;
  margin-bottom: #{$standart-indent * 2};
  @include flex(
    $direction: row,
    $justify-content: space-between,
    $align-items: center,
  )
}

.songs-list-from-current-active-genre-container,
.current-choosed-song-container {
  height: 100%;
  width: calc(50% - #{$standart-indent});
}

.songs-list-from-current-active-genre-container {
  background-color: rgba($color: $color-light, $alpha: 0.5);
  @include flex(
    $direction: column,
    $justify-content: flex-start,
    $align-items: flex-start,
  )
}

.song-from-current-active-genre-container {
  width: 100%;
  flex-grow: 1;
  padding-left: $standart-indent;
  cursor: pointer;
  @include flex(
    $direction: row,
    $justify-content: flex-start,
    $align-items: center,
  );
  @include media-hover {
    &:hover &__title {
      color: $color-light;
    }
    &:hover .song-from-current-active-genre-checkbox-container {
      border: 1px solid $color-light;
    }
    &:hover .song-from-current-active-genre-checkbox-container__mark {
      &_right {
        background-image: url('../../assets/images/icons/marks-icons/right-mark-white.png');
      }
      &_wrong {
        background-image: url('../../assets/images/icons/marks-icons/wrong-mark-white.png');
      }
    }
  }
  &_choosed {
    .song-from-current-active-genre-container__title {
      color: $color-light;
    }
    .song-from-current-active-genre-checkbox-container {
      border: 1px solid $color-light;
    }
    .song-from-current-active-genre-checkbox-container__mark {
      &_right {
        background-image: url('../../assets/images/icons/marks-icons/right-mark-white.png');
      }
      &_wrong {
        background-image: url('../../assets/images/icons/marks-icons/wrong-mark-white.png');
      }
    }
  }
}

.song-from-current-active-genre-checkbox-container {
  position: relative;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  margin-right: $standart-indent;
  border: 1px solid $color-dark;
  transition: border-color $standart-transition-duration ease;
}

.song-from-current-active-genre-checkbox-container__mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  transition: background-image $standart-transition-duration ease;
  &_right {
    background-image: url('../../assets/images/icons/marks-icons/right-mark-black.png');
  }
  &_wrong {
    background-image: url('../../assets/images/icons/marks-icons/wrong-mark-black.png');
  }
}

.song-from-current-active-genre-container__title {
  color: $color-dark;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color $standart-transition-duration ease;
  @include themify() {
    @include font (
      $font-family: themed('fontFamilySecondary'),
      $font-size: themed('defaultSongFromCurrentActiveGenreFontSize'),
    )
  }
}