.songhunt-app-container {
  min-height: 100vh;
  transition: background-image #{$standart-transition-duration * 4} ease;
  @include themify() {
    @include centred-background-image(
      $background-image: themed('appBackgroundImage'),
    )
  }
}

.songhung-app-wrapper {
  margin: 0 auto;
  padding: #{$standart-indent * 2} 0;
  max-width: $laptop-width;
  @media (max-width: $laptop-width + $standart-indent * 4) {
    margin: 0 #{$standart-indent * 2};
  }
  @media (max-width: $tablet-width) {
    margin: 0 #{$standart-indent};
    padding: #{$standart-indent} 0;
  }
}